<!doctype html>
<html lang="en">

<!-- Mirrored from www.creativethemes.co.in/demo/jewellery-4.1.0/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Nov 2019 12:20:46 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jewellery Shoppe">
    <meta name="author" content="Jewellery Shoppe">
    <link rel="shortcut icon" type="image/x-icon" href="~assets/client/images/favicon.ico">
    <title>Jewellery Shoppe</title>
    <!--all-->
    <link rel="stylesheet" type="text/css" href="~/assets/client/css/default.css" media="all" />
    <!--all-->
    <!--animate-->
    <link rel="stylesheet" href="~/assets/client/css/animate.css">
    <!--animate-->
    <!--owlcarousel-Best Of Our Store and Popular Brands-->
    <link rel="stylesheet" href="~/assets/client/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/client/css/owl.theme.default.min.css">
    <!--owlcarousel-Best Of Our Store and Popular Brands-->
    <link href="~/assets/client/css/bootstrap2.min.css" rel="stylesheet" />
    <link href="~/assets/client/css/component.css" rel="stylesheet" />
    <link href="~/assets/client/css/component2.css" rel="stylesheet" />
    <link href="~/assets/client/css/custom-style.css" rel="stylesheet" />
    <link href="~/assets/client/css/hover2.css" rel="stylesheet" />
    <link href="~/assets/client/css/page.css" rel="stylesheet" />
    <link href="~/assets/client/css/responsive.css" rel="stylesheet" />
    <link href="~/assets/client/css/set2.css" rel="stylesheet" />
    <link href="~/assets/client/css/style.css" rel="stylesheet" />
    <link href="~/assets/client/css/style2.css" rel="stylesheet" />
    <link href="~/assets/client/css/amazingslider-1.css" rel="stylesheet" />
    <link href="~/assets/client/css/font-awesome.min.css" rel="stylesheet" />

</head>
<body>
    <div id="preloader"></div>
    <!--modal popup-->
    @*<div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                 Modal Header 
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Login</h4>
                </div>
                 Modal Body 
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default button-1">Sign in</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="boder3"></div>
                                <p><a href="#" data-toggle="modal" data-target="#myModalHorizontal3">Create New Account</a>&nbsp; |&nbsp;<a href="#" data-toggle="modal" data-target="#myModalHorizontal4">Forgot Password</a></p>
                                <div class="boder3"></div>
                            </div>
                        </div>
                    </form>
                </div>
                 Modal Footer 
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalHorizontal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                 Modal Header 
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Register</h4>
                </div>
                 Modal Body 
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="Confirm password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default button-1">Create a Account</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <div class="boder3"></div>
                                <p><a href="#" data-toggle="modal" data-target="#myModalHorizontal3">Create New Account</a>&nbsp; |&nbsp;<a href="#" data-toggle="modal" data-target="#myModalHorizontal4">Forgot Password</a></p>
                                <div class="boder3"></div>
                            </div>
                        </div>
                    </form>
                </div>
                 Modal Footer 
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalHorizontal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                 Modal Header 
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Create New Account</h4>
                </div>
                 Modal Body 
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="Password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="password" class="form-control" placeholder="Confirm password" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12 text">
                                <button type="submit" class="btn btn-default button-1">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                 Modal Footer 
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalHorizontal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                 Modal Header 
                <div class="modal-header">
                    <button type="button" class="close"
                            data-dismiss="modal">
                        <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                    </button>
                    <h4 class="modal-title">Forgot Password</h4>
                </div>
                 Modal Body 
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <input type="email" class="form-control" placeholder="Email" />
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-default button-1">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                 Modal Footer 
            </div>
        </div>
    </div>*@
    <!--modal popup-->
    <!--sidebar-->
    <div id="push_sidebar">
        <div class="right-logo"><a href="index.html"><img src="assets/images/logo-right.png" class="img-fluid" alt="jewellery" title="jewellery"></a></div>
        <ul class="list-unstyled">
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Home Page</a>
                <ul class="list-unstyled dropdown-menu">
                    <li><a href="index.html">Home Page 1</a></li>
                    <li><a href="home-2.html">Home Page 2</a></li>
                    <li><a href="home-3.html">Home 3 Sticky header</a></li>
                    <li><a href="home-4.html">Home 4 Left Side Menu</a></li>
                    <li><a href="mega-menu.html">Home 5 Mega Menu</a></li>

                </ul>
            </li>
            <li><a href="about-us.html">About</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Shop</a>
                <ul class="list-unstyled dropdown-menu">
                    <li><a href="product.html">Product 1</a></li>
                    <li><a href="product-2.html">Product 2</a></li>
                    <li><a href="product-3.html">Product 3</a></li>
                    <li><a href="product.html">View All</a></li>
                </ul>
            </li>
            <li><a href="blog.html">Blog</a></li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages</a>
                <ul class="list-unstyled dropdown-menu">
                    <li><a href="404.html">404</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a href="privacy.html">Privacy</a></li>
                    <li><a href="coming-soon.html">Coming soon</a></li>
                    <li><a href="terms-and-conditions.html">Terms & Condition</a></li>
                </ul>
            </li>
            <li><a href="contact-us.html">Contact us</a></li>
            <li class="sign-in">
                <input type="button" value="sign in" data-toggle="modal" data-target="#myModalHorizontal">
                \
                <input value="sign Up" type="button" data-toggle="modal" data-target="#myModalHorizontal2">
            </li>
        </ul>
        <br>
        <div class="social-network social-circle text-right"><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></div>
    </div>
    <!--sidebar-->
    <!--nav-->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <div class="navbar-header"> <a class="navbar-brand" href="index.html"> <img class="img-fluid" alt="" title="" src="~assets/client/images/logo.png"> </a> </div>
        <span class="nav_trigger"><i class="fa fa-navicon"></i></span>
        <ul class="navbar navbar-nav2">
            <li class="search-div">
                <div id="sb-search" class="sb-search">
                    <form>
                        <input class="sb-search-input" placeholder="Search" type="text" value="" name="search" id="search">
                        <input class="sb-search-submit" type="submit" value="">
                        <span class="sb-icon-search"></span>
                    </form>
                </div>
            </li>
            <li><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i> <span class="round">5</span></a> </li>
        </ul>
    </nav>
    <!--nav-->
    <div id="wrapper">
        <!--slider-->
        @RenderBody()
        <!--footer-->
        <div class="footer-css">
            <div class="newsletter wow fadeIn">
                <div class="container">
                    <div class="p-color-bg">
                        <div class="text float-left">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <h2><span>Subscribe</span> Newsletter</h2>
                            <p>Get all latesr news and  Offer by subcribing to our Newsletter</p>
                            <div class="clearfix"></div>
                        </div>
                        <!-- /.text -->
                        <div class="float-right">
                            <form method="post" id="subsForm" onSubmit="return ajaxmailsubscribe();">
                                <input placeholder="Your Email Address" type="email" name="subsemail" id="subsemail">
                                <button class="theme-button" type="button" value="SUBSCRIBE" onClick="return ajaxmailsubscribe();"> <i class="fa fa-angle-right" aria-hidden="true"></i></button>
                                <!--<input class="theme-button"/><i class="fa fa-angle-right" aria-hidden="true"></i>-->
                                <!--<button class="theme-button"><i class="fa fa-angle-right" aria-hidden="true"></i></button>-->
                            </form>
                        </div>
                        <!-- /.float-right -->
                        <div class="clearfix"></div>
                    </div>
                    <!-- /.bg -->
                </div>
                <!-- /.container -->
            </div>
            <div class="clearfix"></div>
            <div class="footer-in">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3  wow fadeIn" data-wow-delay=".1s">
                            <div class="logo-f"><img src="~assets/client/images/logo-2.png" alt="" title=""></div>
                            <div class="about-b">
                                <div class="footer-text">
                                    <p>Es ist ein lang erwiesener Fakt, dass ein Leser vom Text abgelenkt wird, wenn er sich ein Layout ansieht. Der Punkt, Lorem Ipsum zu nutzen, ist, dass es mehr oder weniger.</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <ul class="social2">
                                <li> Follow us on : </li>
                                <li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                            </ul>
                            <div class="clearfix"></div>
                            <br>
                        </div>
                        <div class="col-md-3 col-sm-3 link-footer  wow fadeIn" data-wow-delay=".2s">
                            <h2>Quick Links</h2>
                            <ul class="pull-left">
                                <li><a href="about-us.html"> <i class="fa fa-stop" aria-hidden="true"></i> About</a></li>
                                <li><a href="product.html"><i class="fa fa-stop" aria-hidden="true"></i> Shop Now</a></li>
                                <li><a href="blog.html"><i class="fa fa-stop" aria-hidden="true"></i> Blog</a></li>
                                <li><a href="terms-and-conditions.html"><i class="fa fa-stop" aria-hidden="true"></i> Terms & Condition</a></li>
                                <li><a href="privacy.html"><i class="fa fa-stop" aria-hidden="true"></i> Privacy</a></li>
                                <li><a href="faq.html"><i class="fa fa-stop" aria-hidden="true"></i> FAQ</a></li>
                                <li><a href="contact-us.html"><i class="fa fa-stop" aria-hidden="true"></i> Contact Us</a></li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 col-sm-3  wow fadeIn" data-wow-delay=".3s">
                            <h2>INSTAFEED</h2>
                            <div class="text-center"><img src="~assets/client/images/instagram.png" alt="" title="" class="img-fluid"></div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-3 col-sm-3 footer-address  wow fadeIn" data-wow-delay=".4s">
                            <h2>Get In Touch</h2>
                            <ul>
                                <li>
                                    <i class="fa fa-map-marker" aria-hidden="true"></i> 385 "SHUBHAM" NEW ADARSH COLONY Near
                                    MR4 Road, I/F Gajannan Park
                                </li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i> 0761-4031437</li>
                                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:jewellery@gmail.com">jewellery@gmail.com</a></li>
                                <li>
                                    <i class="fa fa-clock-o" aria-hidden="true"></i> 9:00pm - 5:00pm<br>
                                    Sunday Closed
                                </li>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="copyright">
                <div class="footer-in">
                    <div class="pull-left"> ©  2018. <a href="index.html">Jewellery Shoppe</a> </div>
                    <div class="pull-right"> Lovingly Crafted By <a href="http://srgit.com/" target="_blank">SRGIT</a> </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <p data-toggle="modal" class="no-margin" data-target="#myModal" id="model2"></p>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">Close</span> </button>
                    <h4 class="modal-title">&nbsp;</h4>
                </div>
                <!-- Modal Body -->
                <div class="modal-body">
                    <h1 class="modal-title text-center">Thank You</h1>
                    <form class="form-horizontal">
                        <h4 class="text-center">We will get back to you as soon as possible.</h4>
                    </form>
                </div>
                <!-- Modal Footer -->
            </div>
        </div>
    </div>
    <!--searchbar-Top Header-->
    <script src="~/assets/client/js/modernizr.custom.js"></script>
    <!--library js-->
    <script src="~/assets/client/js/jquery.js"></script>
    <!-- iosSlider plugin Main Slider -->
    <script src="~/assets/client/js/slider/jquery.easing-1.3.js"></script>
    <script src="~/assets/client/js/slider/jquery.iosslider.js"></script>
    <!--owlcarousel-Best Of Our Store and Popular Brands -->
    <script src="~/assets/client/js/owl-carousel.js"></script>
    <!--scrolltop-->
    <script src="~/assets/client/js/scrolltopcontrol.js"></script>
    <!--themes js-->
    <script src="~/assets/client/js/ajax.js"></script>
    <script src="~/assets/client/js/formValidation.js"></script>
    <!--searchbar-Top Header-->
    <script src="~/assets/client/js/classie.js"></script>
    <script src="~/assets/client/js/uisearch.js"></script>
    <!--bootstrap-->
    <script src="~/assets/client/js/popper.min.js"></script>
    <script src="~/assets/client/js/bootstrap.min.js"></script>
    <!--all script-->
    <script src="~/assets/client/js/all.js"></script>
    <!--wow animate-->
    <script src="~/assets/client/js/wow.min.js"></script>
    <script src="~/assets/client/js/animate1.js"></script>
</body>

<!-- Mirrored from www.creativethemes.co.in/demo/jewellery-4.1.0/template/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 14 Nov 2019 12:22:57 GMT -->
</html>
