
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>ABout us</h2>
    </div>
</div><!--End Title-->
<section class="about-page page fix">
    <!--Start About Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="about-title">
                    <h2>WELCOME TO <span>YASH JEWELLERY</span></h2>
                    <h3>ONLINE JEWELRY STORE</h3>
                </div>
                <div class="about-text">
                    <p>
                        Yash Jewels is a Mumbai based jewellery company affianced in manufacturing all class of Diamond Jewellery. The company was established in the year 2007 and is owned by Mr. Pradeep Sanghavi. With his magnificent experience in this field, makes him shine in the dome of manufacturing, exporting and supplying Diamonds and Diamond jewellery.

                        Our finest diamonds are manufactured by our company named "JanuGem", having two factories, one in Maharashtra (Mumbai) and one in Gujarat (Palanpur). Each factory has around 140 well trained labourers, working to give you the best.

                        Valued Customers
                        We have a well established staff, which caters all kind of customer's needs. With not only traditional wear,we provide excellent designer and bridal wear too.

                        Yash Jewels is a choice that is created to meet your exact specification and price points.

                        Timely delivery is assured by Yash Jewels.

                        Sales
                        The company markets its products all over India and exports to UK, Middle East and far eastern countries.

                        Our Customers are highly satisfied with our "Excellent Quality and Creative Work".

                        Yash Jewels is a Wholesale dealer of diamond jewellery.
                    </p>
                    <blockquote><p>"True friends are like diamonds – bright, beautiful, valuable, and always in style."</p></blockquote>
                    <p>
                        We provide certificate of authneticity on clients demand such as IGI/EGL/GSI - certificates.

                        We provide corporate gifting jewellery items for corporate clients as per order.
                    </p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-text">
                    <h2>WHY <span>CHOOSE US</span></h2>
                    <p class="about-margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, conse ctetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, consectetur adipiscing elit,ed</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation, conse ctetur adipiscing elit,sed do eiusmod tempor incididunt ut labore et dolore</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="about-img">
                    <img src="~/assets/client/img/about/about.jpg" alt="about.jpg" />
                </div>
            </div>
        </div>
    </div>
</section><!--End About Area-->
<section class="team-area page fix">
    <!--Start Designer Area-->
    <div class="container">
        <div class="row">
            <div class="section-title text-center">
                <h2>Our designer</h2>
                <div class="underline"></div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/assets/client/img/about/a1.jpg" alt="a1" />
                        <div class="designer-text">
                            <h2>Diep Huynh</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/assets/client/img/about/a2.jpg" alt="a2" />
                        <div class="designer-text">
                            <h2>Khoa Huynh</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/assets/client/img/about/a3.jpg" alt="a3" />
                        <div class="designer-text">
                            <h2>Tri Huynh</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
                <div class="designer fix">
                    <div class="designer-img">
                        <img src="~/assets/client/img/about/a4.jpg" alt="a4" />
                        <div class="designer-text">
                            <h2>Thach Dang</h2>
                            <h3>Jewelry Designer</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <div class="designer-socials">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--End Designer Area-->
