
@{
    ViewBag.Title = "Blog List";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>Blog</h2>
    </div>
</div><!--End Title-->
<section class="blog-page page fix">
    <!-- Start Blog Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-1.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-2.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-3.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-4.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-5.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-6.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-7.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-8.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-1.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="single-blog">
                            <div class="content fix">
                                <a class="image fix" href="blog-details.html">
                                    <img src="~/assets/client/img/blog/blog-2.jpg" alt="" />
                                    <div class="date">
                                        <h4>25</h4>
                                        <h5>Aug</h5>
                                    </div>
                                </a>
                                <h2><a class="title" href="blog-details.html">Lorem ipsum dolor sit amet</a></h2>
                                <div class="meta">
                                    <a href="#"><i class="fa fa-pencil-square-o"></i>John Lee</a>
                                    <a href="#"><i class="fa fa-calendar"></i>2 Days ago</a>
                                    <a href="#"><i class="fa fa-comments"></i>12 Comments</a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim niam.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Pagination -->
                <div class="pagination">
                    <ul>
                        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">6</a></li>
                        <li><a href="#">7</a></li>
                        <li><a href="#">8</a></li>
                        <li><a href="#">9</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4 col-md-3">
                <div class="single-sidebar">
                    <h2>Ctegory</h2>
                    <ul>
                        <li><a href="#">Rings</a></li>
                        <li><a href="#">Necklaces</a></li>
                        <li><a href="#">Bracelets</a></li>
                        <li><a href="#">Earrings</a></li>
                        <li><a href="#">Churies</a></li>
                        <li><a href="#">Jewelry Sets</a></li>
                        <li><a href="#">Kids Jewelry</a></li>
                        <li><a href="#">Watches</a></li>
                    </ul>
                </div>
                <div class="single-sidebar">
                    <h2>Recent Post</h2>
                    <ul class="resent-post">
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/assets/client/img/blog/recent-1.jpg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Lorem ipsum</a></h5>
                                <span><i class="fa fa-clock-o"></i>20-2-2015</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/assets/client/img/blog/recent-2.jpg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Lorem ipsum</a></h5>
                                <span><i class="fa fa-clock-o"></i>20-2-2015</span>
                            </div>
                        </li>
                        <li>
                            <!-- SINGLE POST -->
                            <div class="image">
                                <a href="#"><img alt="" src="~/assets/client/img/blog/recent-3.jpg"></a>
                            </div>
                            <div class="content fix">
                                <h5><a href="#">Lorem ipsum</a></h5>
                                <span><i class="fa fa-clock-o"></i>20-2-2015</span>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="single-sidebar">
                    <h2>Acrive</h2>
                    <ul>
                        <li><a href="#">May 2013</a></li>
                        <li><a href="#">April 2013</a></li>
                        <li><a href="#">March 2013</a></li>
                        <li><a href="#">February 2013</a></li>
                        <li><a href="#">January 2013</a></li>
                    </ul>
                </div>
                <div class="single-sidebar">
                    <h2>Tags</h2>
                    <div class="tagcloud fix">
                        <a href="#">Rings</a>
                        <a href="#">Necklaces</a>
                        <a href="#">Bracelets</a>
                        <a href="#">Earrings</a>
                        <a href="#">Churies</a>
                        <a href="#">Jewelry Sets</a>
                        <a href="#">Kids Jewelry</a>
                        <a href="#">Watches</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- Start Blog Area-->
