@model OnlineJewelryShoppingMVC.Models.LoginModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_client.cshtml";
}

<div class="page-title fix">
    <!--Start Title-->
    <div class="overlay section">
        <h2>login / Register</h2>
    </div>
</div><!--End Title-->
<div class="login-page page fix">
    <!--start login Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-5">
                @using (Html.BeginForm("Login", "Client", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="login">
                        <form id="login-form">
                            <h2>Login</h2>
                            <p>Welcome to your account</p>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="social-login">
                                <a id="facebook" href="#"><i class="fa fa-facebook"></i>Sign In with Facebook</a>
                                <a id="twitter" href="#"><i class="fa fa-twitter"></i>Sign In with Twitter</a>
                            </div>
                            <label>User Name<span>*</span></label>
                            @Html.TextBoxFor(model => model.emailId)
                            <label>Password<span>*</span></label>
                            @Html.PasswordFor(model => model.password)
                            <div class="remember">
                                <input type="checkbox" />
                                <p>Remember me!</p>
                                <a href="#">Forgot Your Password ?</a>
                            </div>
                            <input type="submit" value="login" />
                        </form>
                    </div>
                }
                @*<div class="login">
                    <form id="login-form" action="#">
                        <h2>Login</h2>
                        <p>Welcome to your account</p>
                        <div class="social-login">
                            <a id="facebook" href="#"><i class="fa fa-facebook"></i>Sign In with Facebook</a>
                            <a id="twitter" href="#"><i class="fa fa-twitter"></i>Sign In with Twitter</a>
                        </div>
                        <label>E-mail Address<span>*</span></label>
                        <input type="text" />
                        <label>Password<span>*</span></label>
                        <input type="password" />
                        <div class="remember">
                            <input type="checkbox" />
                            <p>Remember me!</p>
                            <a href="#">Forgot Your Password ?</a>
                        </div>
                        <input type="submit" value="login" />
                    </form>
                </div>*@
            </div>
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-5">
                <div class="login">
                    <form id="signup-form" action="#">
                        <h2>Create A new Account</h2>
                        <p>Create your own account</p>
                        <label>E-mail Address<span>*</span></label>
                        <input type="text" />
                        <label>Password<span>*</span></label>
                        <input type="password" />
                        <label>Confirm Password<span>*</span></label>
                        <input type="password" />
                        <input type="submit" value="Sign up" />
                    </form>
                </div>
            </div>
        </div>
    </div>
</div><!--End login Area-->