
obj/Debug/OnlineJewelryShoppingMVC.pdb
obj/Debug/OnlineJewelryShoppingMVC.dll
obj/Debug/OnlineJewelryShoppingMVC.csprojAssemblyReference.cache
obj/Debug/OnlineJewelryShoppingMVC.csproj.CoreCompileInputs.cache
bin/OnlineJewelryShoppingMVC.pdb
bin/OnlineJewelryShoppingMVC.dll.config
bin/OnlineJewelryShoppingMVC.dll
.vs/OnlineJewelryShoppingMVC/v16/Server/sqlite3/storage.ide-wal
.vs/OnlineJewelryShoppingMVC/v16/Server/sqlite3/storage.ide-shm
.vs/OnlineJewelryShoppingMVC/v16/Server/sqlite3/storage.ide
.vs/OnlineJewelryShoppingMVC/v16/Server/sqlite3/db.lock
.vs/OnlineJewelryShoppingMVC/config/applicationhost.config
