@model OnlineJewelryShoppingMVC.ProductMst

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_admin.cshtml";
}


<div>
    <h4>ProductMst</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.prodType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prodType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.prodId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
